<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Smart Factory</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/w3.css') }}">
</head>
<body>
    <header>
        <div class="w3-bar w3-green">
            <a href="/" class="w3-bar-item w3-button w3-mobile">Home</a>
            <a href="stocks" class="w3-bar-item w3-button w3-mobile">Stocks</a>
            <a href="orders" class="w3-bar-item w3-button w3-mobile">Order List</a>
        </div>
        <hr>
    </header>
    <main role="main">
        <!-- Main content block -->
        {% block content %}{% endblock %}
    </main>
</body>
</html>