{% extends 'layout.html' %}
 
{% block content %}

{% with messages = get_flashed_messages() %} 
    {% if messages %} 
        <script> alert("{{messages[-1]}}") </script> 
    {% endif %} 
{% endwith %}

<form action="/json" method="post">
    <select class = "w3-select" name= colours method="GET" action="/">
        {% for colour in colours %}
        <option value= "{{colour}}" SELECTED>{{colour}}</option>"
        {% endfor %}
    </select>
    <select class = "w3-select" name= dests method="GET" action="/">
        {% for dest in dests %}
        <option value= "{{dest}}" SELECTED>{{dest}}</option>"
        {% endfor %}
    </select>
<br><br>
<input class = "w3-button w3-teal" type="submit" value="Order">
</form>
{% endblock %}
